<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Practice</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
	<a href="./tut-section-2.html">Next</a>

  <div id="app1">
    <input type="text" id="input" v-model='message'>

    <p>The value of the input is: {{message}}</p>
  </div>

  <div id="app2">
  	<h1 v-bind:title='title'>{{message}}</h1>
  </div>

  <div id="app3">
  	<p v-if='seen'>Now you see me!</p>
  </div>

  <div id="app4">
  	<ol>
  		<li v-for='todo in todos'>
  			{{todo.text}}	
  		</li>
  	</ol>
  </div>

  <div id="app5">
  	<p>{{message}}</p>
  	<button v-on:click="reverseMessage">Reverse Message</button>
  </div>

	<div id="app6">
		<ol>
			<todo-item
	      v-for="item in groceryList"
	      v-bind:todo="item"
	      v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>

  <script src="https://unpkg.com/vue"></script>
  <script src="./main.js"></script>
</body>
</html>